<!DOCTYPE html>
<html lang="en">
<head>

  include components/_head

</head>
<body>

  .wrapper.fix-footer

    include components/_header

    section.section-first
      include content/course-screen-1

    section.course-2
      include content/course-screen-2

    section
      include content/course-repeat

    section.section.course-3
      include content/course-screen-3

    section
      include content/course-screen-4
    
    section
      include content/course-screen-5

    include components/_footer

    include components/_scripts

</body>
</html>