<!DOCTYPE html>
<html lang="en">
<head>

  include components/_head

</head>
<body>

  .wrapper.fix-footer

    include components/_header

    section.section.section-first
      include content/disorder-screen

    include components/_form

    include components/_footer

    include components/_scripts

</body>
</html>