<!DOCTYPE html>
<html lang="en">
<head>

  include components/_head

</head>
<body>

  .wrapper.fix-footer

    include components/_header

    section.section-first.main-1
      include content/main-screen-1
    section.section
      include content/main-screen-2
    section
      include content/departments-screen
    section
      include content/main-screen-3
    section.section
      include content/main-screen-4
    include components/_form

    include components/_footer

    include components/_scripts

</body>
</html>