<!DOCTYPE html>
<html lang="en">
<head>

  include components/_head

</head>
<body>

  .wrapper.fix-footer.page

    include components/_header

    section.section
      include content/page-screen

    section.section.section-pos
      include content/page-screen-1

    section.section.section-pos
      include content/specialist-screen

    include components/_form

    include components/_footer

    include components/_scripts

</body>
</html>