<!DOCTYPE html>
<html lang="en">
<head>

  include components/_head

</head>
<body>

  .wrapper.fix-footer

    include components/_header

    section.section.section-first
      .container
        <object><embed src="https://cnpp.ru/wp-content/uploads/2021/07/правила-оплаты-диалектика_на-вкладку-оплаты.pdf" " width="100%" height="700px" frameborder="0" /></object>

    include components/_footer

    include components/_scripts

</body>
</html>