.about-1
  .about-1__block
    h1.title.title-h1.about-1__title Центр 
      span DIALECTICA
    h2.title.title-h2.about-1__subtitle Создайте жизнь, которую стоит прожить
    a(href="").btn.about-1__btn Записаться на прием