.container.about-2
  .about-2__row
    .about-2__col.about-2__col-1
      h2.title.tilte-h2.about-2__title Добро пожаловать
      .about-2__text 
        div Наш центр создан в 2019 году усилиями специалистов, долго и успешно трудившихся на базе государственных учреждений здравоохранения г. Томска. Мы учли достоинства и недостатки существующей государственной системы оказания психологической помощи и частных центров. Мы готовы предложить Вам качественную альтернативу.
        ul.list
          li.list__item Научно-обоснованный подход
          li.list__item Специалисты работают в команде
          li.list__item Всегда отслеживаем результат и совершенствуем методики
    .about-2__col.about-2__col-2
      img(src="https://cnpp.ru/wp-content/uploads/2019/03/IMG_20181128_094946_1-1.jpg", alt="")
  .about-2__row
    .about-2__col.about-2__col-1
       h2.title.tilte-h2.about-2__title Наши ценности
       .about-2__text
        div
          .title-note Главная цель
          p Оказывать профессиональную помощь по восстановлению и поддержанию психического здоровья и психологического благополучия, применяя в работе современные методы и концепции психологии, признанные и опробованные во всём Мире.
        div
          .title-note Миссия
          p Развеять мифы и страхи о помощи в сфере психического здоровья в России, предлагая каждому ощутить безопасность и комфорта в ситуации оказания квалифицированной и доступной психологической помощи.
        div
          .title-note Наша мечта
          p Здоровье, душевное благополучие, гармонизация межличностных и детско-родительских отношений, а также распространение ценных знаний, способствующих достижению и поддержанию психического и психологического благополучия.
    .about-2__col.about-2__col-2
      img(src="https://cnpp.ru/wp-content/uploads/2021/09/IMG_1073-2-scaled.jpg", alt="")