.first-template.about-1
  .first-template__block
    h1.title.title-h1.first-template__title Центр 
      span DIALECTICA
    .title.title-h2.first-template__subtitle Создайте жизнь, которую стоит прожить
    a(href="").btn.first-template__btn Записаться на прием