.infographics
  .infographics__item.infographics__item_1
    .infographics__number
      span более 
      .counter(data-target='1000') 1000
    .infographics__title Счастливых пациентов
  .infographics__item.infographics__item_2
    .infographics__number
      .counter(data-target='7') 7
    .infographics__title Специалистов
  .infographics__item.infographics__item_3
    .infographics__number
      .counter(data-target='4') 4
    .infographics__title Спец. направления
  .infographics__item.infographics__item_4
    .infographics__number
      .counter(data-target='40') 40
    .infographics__title Независимых исследований методики
