.container.course
  .course__row
    .course__col.course__col-1
      h3.title.title-h3.course__title Ответы на популярные вопросы
    .course__col.course__col-2
      details
        summary.summary
          .summary__icon
          .summary__text Когда старт группы?
        .summary-inner Старт занятий 22.02.23 в 10:30 по Москве
      details
        summary.summary
          .summary__icon
          .summary__text Противопоказания
        .summary-inner Старт занятий 22.02.23 в 10:30 по Москве
      details
        summary.summary
          .summary__icon
          .summary__text Какова стоимость?
        .summary-inner Старт занятий 22.02.23 в 10:30 по Москве
      details
        summary.summary
          .summary__icon
          .summary__text Когда старт группы?
        .summary-inner Старт занятий 22.02.23 в 10:30 по Москве
      details
        summary.summary
          .summary__icon
          .summary__text Когда старт группы?
        .summary-inner Старт занятий 22.02.23 в 10:30 по Москве
      details
        summary.summary
          .summary__icon
          .summary__text Когда старт группы?
        .summary-inner Старт занятий 22.02.23 в 10:30 по Москве
      details
        summary.summary
          .summary__icon
          .summary__text Когда старт группы?
        .summary-inner Старт занятий 22.02.23 в 10:30 по Москве
.container.course
  .anchor#price
  .course__row
    .course__col.course__col-1
      h3.title.title-h3.course__title Стоимость и оплата
    .course__col.course__col-2
      p Стоимость полного курса «Skills for life» — 22000 рублей (для оплаты из-за рубежа просим обращаться в whatsapp/ telegram Центра <a href="" class="text-link">+7(995)965-30-03</a>. Оплата возможно несколькими вариантами:
      ul.list
        li.list__item 
          div Полностью — 22000 рублей
            a(href="").btn.btn-list Полная оплата (22000р)
        li.list__item
          div Частями:
            div 1) 6 занятий — 12000 рублей
            a(href="").btn.btn-list Первая часть (5 занятий)
            div 2) 5 занятий — 10000 рублей
            a(href="").btn.btn-list Вторая часть (6 занятий)
            div 3) Оплата за одно занятие 2000 р (важна предоплата следующего занятия).
            a(href="").btn.btn-list Одно занятие (2000р)


