.first-template.course-1
  .first-template__block
    h1.title.title-h1.first-template__title Skills for life
    .title.title-h2.first-template__subtitle Группа навыков ACT <br> Вы научитесь решать проблемы эффективно, с заботой о своём психологическом здоровье
