.container
  .course-2__row
    a.course-2__link(href="#whom") Кому подойдёт курс?
    a.course-2__link(href="#what") Что я получу?
    a.course-2__link(href="#plan") План встреч
    a.course-2__link(href="#more") Подробности
    a.course-2__link(href="#price") Стоимость и оплата
    a.course-2__link(href="#enroll") Записаться

