.container.course
  .anchor#whom
  .course__row
    .course__col.course__col-1
      h3.title.title-h3.course__title Кому подойдёт курс?
    .course__col.course__col-2
      .title-note Группа подойдет для тех, кто сталкивается со следующими трудностями:
      ul.list
        li.list__item Вам сложно справляться со своими мыслями и эмоциями (тревога, страх, подавленное настроение, безнадежность, навязчивые переживания и другие)
        li.list__item Ваши переживания мешают вам работать, учиться, общаться, отдыхать и, пока вы боретесь со своими переживаниями, настоящая жизнь как будто проходит мимо, вы хотели бы делать что-то важное для вас, но пока не можете
        li.list__item Вы хотите полюбить и принять себя, но вместо это вы склонны критиковать, ругать и обвинять себя; вам сложно замечать свои успехи и положительные стороны и снова возникает чувство собственной ничтожности и бесполезности.
        li.list__item Вы не понимаете, что для вас важно в жизни и что вам делать
.container.course
  .anchor#what
  .course__row
    .course__col.course__col-1
      h3.title.title-h3.course__title Что я получу?
    .course__col.course__col-2
      .title-note На встречах терапевтической группы «Skills for life»:
      ul.list
        li.list__item Вам сложно справляться со своими мыслями и эмоциями (тревога, страх, подавленное настроение, безнадежность, навязчивые переживания и другие)
        li.list__item Ваши переживания мешают вам работать, учиться, общаться, отдыхать и, пока вы боретесь со своими переживаниями, настоящая жизнь как будто проходит мимо, вы хотели бы делать что-то важное для вас, но пока не можете
        li.list__item Вы хотите полюбить и принять себя, но вместо это вы склонны критиковать, ругать и обвинять себя; вам сложно замечать свои успехи и положительные стороны и снова возникает чувство собственной ничтожности и бесполезности.
        li.list__item Вы не понимаете, что для вас важно в жизни и что вам делать
.container.course
  .anchor#more
  .course__row
    .course__col.course__col-1
      h3.title.title-h3.course__title Что я получу?
    .course__col.course__col-2
      .title-note Как проходят встречи?
      ul.list
        li.list__item практику осознанности
        li.list__item обзор домашнего задания с прошлой недели
        li.list__item теоретическая часть с групповым обсуждением*
        li.list__item практические задания (в группах, парах или самостоятельно)
        li.list__item домашняя практика
      .remark * в обсуждениях участие добровольное
.container.course
  .anchor#plan
  .course__row
    .course__col.course__col-1
      h3.title.title-h3.course__title План группы
    .course__col.course__col-2
      .title-note Из чего состоит полный курс?
      ul.list
        li.list__item Занятие 1. Знакомство. Исследование почему, то, что я делаю уже не помогает, но я продолжаю это делать? Определение личных целей для работы в группе.
        li.list__item Занятие 1. Знакомство. Исследование почему, то, что я делаю уже не помогает, но я продолжаю это делать? Определение личных целей для работы в группе.
        li.list__item Занятие 1. Знакомство. Исследование почему, то, что я делаю уже не помогает, но я продолжаю это делать? Определение личных целей для работы в группе.
        li.list__item Занятие 1. Знакомство. Исследование почему, то, что я делаю уже не помогает, но я продолжаю это делать? Определение личных целей для работы в группе.
        .remark Участникам будут доступны записи теоретической части, презентации, небольшие домашние практики (задания для закрепления), аудио практики и доступ к информационному телеграм каналу.