.container.course-4
  .anchor#enroll
  .course-4__block
    h2.title.title-h3.course-4__title Важно
    .course-4__text
      p Участие в группе возможно только после заполнения анкеты на нашем сайте и бесплатного собеседования в онлайн формате (длительность собеседования 30 минут).
      p Если у Вас возникили дополнительные вопросы можно связаться в WhatsApp или Телеграм с ведущей группы Таисией Дергачевой <a href="" class="text-link">+79964130407</a>
    a(href="").btn.course-4__btn Заполнить заявку
