.first-template
  img(src="https://cnpp.ru/wp-content/uploads/2016/01/header-image-departments.jpg", alt="").first-template__img
  .first-template__block
    h1.title.title-h1.first-template__title Наши 
      span направления
    h2.title.title-h2.first-template__subtitle Наша работа сосредоточена всего на нескольких направлениях, благодаря чему мы имеем возможность добиться максимальной эффективности.
    a(href="").btn.first-template__btn Записаться на прием