.container.departments
  .departments__row
    .departments__left 
      p За счёт использования специализированных программ, мы достигаем максимальной эффективности в оказании психологической помощи при суицидальном поведении и самоповреждениях (пограничное расстройво личности), расстройствах пищевого поведения (булимия и приступообразное переедание), постравматическое стрессовое расстройство. 
      p Кроме того, вы можете получить психологическую помощь по широкому спектру вопросов очно в Томске или онлайн из любой точки мира.
    .departments__right
      h2.title.title-h2.departments__title Направления работы
      img(src="./assets/img/departments.svg", alt="")
  .departments__grid
    .departments__item
      h4.departments__subtitle Суицид/самоповреждение
      img(src="./assets/img/heart.svg", alt="").departments__icon
      .departments__text Большинство попыток суицида и актов самоповреждения совершаются при определенных условиях жизни человека. Читайте подробнее о том, как распознать такое поведение и что делать, чтобы его предотвратить.
      a(href="").btn.departments__btn Узнать больше
    .departments__item
      h4.departments__subtitle Нарушения пищевого поведения
      img(src="./assets/img/stomach.svg", alt="").departments__icon
      .departments__text Булимия — расстройство пищевого поведения характеризуется эпизодами переедания с последующим очистительным поведением ( вызывание рвоты, прием слабительных препаратов и т.д.) Читайте больше о причинах и методах коррекции данного расстройства.
      a(href="").btn.departments__btn Узнать больше
