.container.disorder
  .disorder__row
    .disorder__left
      .disorder__card
        h4.disorder__author Автор статьи:
        a(href="").disorder__link
          img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2020/11/-с-серым-фоном-e1604426111610.jpg?resize=1037%2C1037&amp;ssl=1", alt="ТАИСИЯ ДЕРГАЧЁВА").disorder__img
          .disorder__name Таисия Дергачева
          .disorder__specialization Клинический психолог
        .disorder__spec
          span Терапия принятия и ответственности (АСТ)
          span Когнитивно-поведенческая терапия (CBT)
        .disorder__item
          span Специализация:
          div депрессия, тревожные расстройства (социальная тревога, ПТСР, панические атаки), расстройства пищевого поведения (РПП)
        .disorder__item
          span Стоимость консультации:
          div 2000 ₽
      .disorder__share
        .disorder__share-title Поделиться статьей:
        .disorder__socials.socials
          a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
            img(src="./assets/img/youtube.svg", alt="YouTube").socials__icon
          a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
            img(src="./assets/img/vk.svg", alt="YouTube").socials__icon
          a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
            img(src="./assets/img/whatsapp.svg", alt="YouTube").socials__icon
          a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
            img(src="./assets/img/telegram.svg", alt="YouTube").socials__icon
    .disorder__note.note
      h1.title.title-h2.disorder__title Депрессия
      p Депрессия – это состояние, которое мешает человеку жить полноценной жизнью. При тяжелых симптомах депрессии человеку может быть сложно выполнять работу, справляться  с домашними, бытовыми обязанностями, следить за гигиеной и вести социальную жизнь.
      <iframe title="YouTube video player 1" src="https://www.youtube.com/embed/CsB81DhEHyA?autoplay=0&amp;enablejsapi=1&amp;wmode=opaque" width="600" height="360" allowfullscreen="" allow="autoplay; fullscreen" id="player_1"></iframe>
      p
        .title-note Симптомы депрессивного состояния:
        ul.list
          li.list__item Почти ежедневно подавленное настроение (апатия, тоска, тревога, потеря радости жизни)
          li.list__item Беспокойство, раздражительность
          li.list__item Снижение интереса к деятельности
          li.list__item Трудности с концентрацией внимания или принятием решений, забывчивость
          li.list__item Чувства безнадежности, бесполезности, чрезмерной или неуместной вины
          li.list__item Повторяющиеся мысли о смерти или самоубийстве
          li.list__item Изменения аппетита и сна
          li.list__item Снижение энергии и усталость
          li.list__item Возбужденное или вялое состояние (заторможенность, трудность выполнять повседневные дела)
          li.list__item Иногда возникают психотические симптомы
      .attention Каждый человек время от времени испытывает те или иные симптомы, но для постановки диагноза они должны проявляться большую часть времени и не менее двух недель.
      p
        .title-note Психотерапия депрессии может включать:
        ul.list
          li.list__item Восстановление режима сна и питания, распорядка дня, гигиены
          li.list__item Обучение навыкам осознанности
          li.list__item Работа с эмоциями, настроением, обучение навыкам саморегуляции

