.container.main-2
  .main-2__row
    .main-2__left Мы занимаемся когнитивно-поведенческой терапией и специализируемся в нескольких направлениях: <br> — когнитивная терапия <br> — диалектическая-поведенческая терапия <br> — терапия принятия и ответственности.
    h2.main-2__right Добро пожаловать в центр DIALECTICA
  .main-2__grid
    .main-2__item
      img(src="./assets/img/welcome-1.svg", alt="").main-2__icon
      .main-2__title Научность
      .main-2__text Мы применяем метод психокоррекции, если его эффективность доказана научно.
    .main-2__item
      img(src="./assets/img/welcome-2.svg", alt="").main-2__icon
      .main-2__title Социальная программа
      .main-2__text Мы оказываем бесплатную психологическую помощь родственникам людей с симптомами пограничного расстройства личности в рамках программы <a href="" class="text-link">«cемейные связи»</a>.
    .main-2__item
      img(src="./assets/img/welcome-3.svg", alt="").main-2__icon
      .main-2__title Экономия
      .main-2__text Одно из преимуществ когнитивно-поведенческой терапии — краткосрочность и сфокусированность на решении конкретных проблем. <br> Длительные программы, например, диалектическая поведенческая терапия, так же имеют определённые сроки и цели.
    .main-2__item
      img(src="./assets/img/welcome-4.svg", alt="").main-2__icon
      .main-2__title Инновации
      .main-2__text Мы оказываем бесплатную психологическую помощь родственникам людей с симптомами пограничного расстройства личности в рамках программы <a href="" class="text-link">«cемейные связи»</a>.