.container.main-4
  h2.title.title-h2.main-4__title Новости
  .swiper-container.main-4__slider
    .swiper-wrapper
      .swiper-slide.main-4__item
        img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2019/04/%D0%A4%D0%BE%D0%BD-dbt.jpg?resize=540%2C272&ssl=1", alt="").main-4__img
        h4.main-4__subtitle Когнитивно — поведенческая терапия расстройств пищевого поведения
        .main-4__text hghjgjgjfjjfhghghhghghhghghhghgh
        a(href="").btn.main-4__btn читать
      .swiper-slide.main-4__item
        img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2019/04/%D0%A4%D0%BE%D0%BD-dbt.jpg?resize=540%2C272&ssl=1", alt="").main-4__img
        h4.main-4__subtitle Когнитивно — поведенческая терапия расстройств пищевого поведения
        .main-4__text hghjgjgjfjjfhghghhghghhghghhghgh
        a(href="").btn.main-4__btn читать
      .swiper-slide.main-4__item
        img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2019/04/%D0%A4%D0%BE%D0%BD-dbt.jpg?resize=540%2C272&ssl=1", alt="").main-4__img
        h4.main-4__subtitle Когнитивно — поведенческая терапия расстройств пищевого поведения
        .main-4__text hghjgjgjfjjfhghghhghghhghghhghgh
        a(href="").btn.main-4__btn читать
      .swiper-slide.main-4__item
        img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2019/04/%D0%A4%D0%BE%D0%BD-dbt.jpg?resize=540%2C272&ssl=1", alt="").main-4__img
        h4.main-4__subtitle Когнитивно — поведенческая терапия расстройств пищевого поведения
        .main-4__text hghjgjgjfjjfhghghhghghhghghhghgh
        a(href="").btn.main-4__btn читать
      .swiper-slide.main-4__item
        img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2019/04/%D0%A4%D0%BE%D0%BD-dbt.jpg?resize=540%2C272&ssl=1", alt="").main-4__img
        h4.main-4__subtitle Когнитивно — поведенческая терапия расстройств пищевого поведения
        .main-4__text hghjgjgjfjjfhghghhghghhghghhghgh
        a(href="").btn.main-4__btn читать
      .swiper-slide.main-4__item
        img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2019/04/%D0%A4%D0%BE%D0%BD-dbt.jpg?resize=540%2C272&ssl=1", alt="").main-4__img
        h4.main-4__subtitle Когнитивно — поведенческая терапия расстройств пищевого поведения
        .main-4__text hghjgjgjfjjfhghghhghghhghghhghgh
        a(href="").btn.main-4__btn читать
      .swiper-slide.main-4__item
        img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2019/04/%D0%A4%D0%BE%D0%BD-dbt.jpg?resize=540%2C272&ssl=1", alt="").main-4__img
        h4.main-4__subtitle Когнитивно — поведенческая терапия расстройств пищевого поведения
        .main-4__text hghjgjgjfjjfhghghhghghhghghhghgh
        a(href="").btn.main-4__btn читать
    .swiper-button-prev
    .swiper-button-next

