.main-2.container
  h2.main-2__title.title.title-h2 Наши специалисты
  .main-2__text.description Клинические психологи и психотерапевты с высшим медицинским образованием. Наша команда специалистов каждую неделю совершенствует свои навыки и тактику ведения клиентов. Мы работаем при поддержке Ассоциации когнитивно — бихевиоральных терапевтов и Института Behavioral Tech (Сиэтл, США).
  .main-2__grid
    - for (var i = 0; i < 10; ++i)
        include .././components/_item
