.container
  .main-1__col.main-1__col-1
    h1.title.title-h1.main-1__title Центр <span>DIALECTICA</span> — психологическая помощь по мировым стандартам
    h2.title.title-h2.main-1__subtitle Мы используем методы с научно доказанной эффективностью.
    .main-1__row
      a(href="").main-1__btn.btn Записаться на прием
      a(href="").main-1__btn.btn Выбрать специалиста
      a(href="").main-1__btn.btn Группа DBT
    a(href="").main-1__btn.btn Запись на курс Skills for life
  .main-1__col.main-1__col-2
    .main-1__block
      .main-1__sub
        img(src="./assets/img/clock.svg", alt="")
        span ЧАСЫ РАБОТЫ
      .main-1__text Время Новосибирское
      .main-1__table
        .main-1__cl Понедельник - пятница <br> 10:00 — 19:00
        .main-1__cl Суббота <br> 10:00 — 15:00
      a(href="tel:+79959653003").main-1__link +7 (995) 965-30-03

