.first-template.page-1
  .first-template__block
    h1.title.title-h1.first-template__title Семейные связи
    .title.title-h2.first-template__subtitle Бесплатный проект для семей, в которых есть человек с трудностями в регуляции эмоций и контроле поведения
