.container.page
  .page__row
    .page__note.note
      h1.title.title-h2.page__title Депрессия
      p Депрессия – это состояние, которое мешает человеку жить полноценной жизнью. При тяжелых симптомах депрессии человеку может быть сложно выполнять работу, справляться  с домашними, бытовыми обязанностями, следить за гигиеной и вести социальную жизнь.
      <iframe title="YouTube video player 1" src="https://www.youtube.com/embed/CsB81DhEHyA?autoplay=0&amp;enablejsapi=1&amp;wmode=opaque" width="600" height="360" allowfullscreen="" allow="autoplay; fullscreen" id="player_1"></iframe>
      p
        .title-note Симптомы депрессивного состояния:
        ul.list
          li.list__item Почти ежедневно подавленное настроение (апатия, тоска, тревога, потеря радости жизни)
          li.list__item Беспокойство, раздражительность
          li.list__item Снижение интереса к деятельности
          li.list__item Трудности с концентрацией внимания или принятием решений, забывчивость
          li.list__item Чувства безнадежности, бесполезности, чрезмерной или неуместной вины
          li.list__item Повторяющиеся мысли о смерти или самоубийстве
          li.list__item Изменения аппетита и сна
          li.list__item Снижение энергии и усталость
          li.list__item Возбужденное или вялое состояние (заторможенность, трудность выполнять повседневные дела)
          li.list__item Иногда возникают психотические симптомы
      .attention Каждый человек время от времени испытывает те или иные симптомы, но для постановки диагноза они должны проявляться большую часть времени и не менее двух недель.
      p
        .title-note Психотерапия депрессии может включать:
        ul.list
          li.list__item Восстановление режима сна и питания, распорядка дня, гигиены
          li.list__item Обучение навыкам осознанности
          li.list__item Работа с эмоциями, настроением, обучение навыкам саморегуляции
    .page__right
      .page__line
        .page__subtitle Когда?
        .page__info
          .page__table
            .page__table-row
              .page__table-left Индивидуальные консультации
              .page__table-right Пн 18:00 — 20:30 (МСК)
            .page__table-row
              .page__table-left Индивидуальные консультации
              .page__table-right Пн 18:00 — 20:30 (МСК)
            .page__table-row
              .page__table-left Индивидуальные консультации
              .page__table-right Пн 18:00 — 20:30 (МСК)
      .page__line
        .page__subtitle Стоимость
        .page__info
          .page__text
            p.bold 2000 ₽ в неделю 
            p Обращаем внимание! Для прохождение терапии ДБТ требуется тренинг навыков и индивидуальный ДБТ — терапевт
      .page__line
        .page__subtitle Записаться
        .page__info
          .page__text
            a(href="").btn Присоединиться 
      .page__line
        .page__subtitle Для вопросов
        .page__info
          .page__text
            a(href="").text-link +7 (995) 965-30-03
