.price.container
  .price__row
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
    .price__item
      .price__title Индивидуальная консультация. Староверов С.С.
      .price__price
        span.price__value 4000
        span.price__currency ₽
      .price__text 50 минут
      a(href="").price__btn.btn Оплатить
  .price__notion * Возможны изменения цены. Уточняйте при собеседовании.