.container.specialist
  .specialist__row
    .specialist__col
      h1.title.title-h1 Сергей Сергеевич Староверов
      h2.title.title-h2 Клинический психолог, DBT - терапевт
      img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2020/05/sergej-e1588702294171.png?resize=402%2C600&ssl=1", alt="").specialist__img.hide-desktop
      .attention Я столкнулся с тем, что на отечественном рынке психотерапевтических услуг практически отсутствует эффективная помощь при тяжелых поведенческих нарушениях. Тогда, в 2017 году, мы с коллегой, врачом-психотерапевтом, <a href="" class="text-link">Николаем Головахой</a> твёрдо решили: «Пора что-то делать в Томске!». Сейчас Центр научно-практической психологии Dialectica успешно работает в нашем регионе и по всему Миру. Мы организовали рабочее пространство для клинических психологов и психотерапевтов, в котором каждый специалист использует инструменты только с доказанной эффективностью и изучает передовые методы оказания помощи.
    .specialist__col
      img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2020/05/sergej-e1588702294171.png?resize=402%2C600&ssl=1", alt="").specialist__img
  .specialist__text.note
    p
      .title-note Образование:
      div Сибирский государственный медицинский университет (ФГБОУ ВО СибГМУ Минздрава России)
    p
      .title-note Дополнительное образование:
      ul.list
        li.list__item «Основы КПТ»
        li.list__item «Оценка, формулирование и планирование терапии. Когнитивный подход в работе с автоматическими мыслями»
        li.list__item «КПТ Панического расстройства и агорафобии»
        li.list__item «КПТ — депрессии»
        li.list__item «КПТ социальной тревожности»
        li.list__item «КПТ — обсессивно-компульсивного расстройства"
        li.list__item Dialectical behavior therapy (DBT): INTENSIVE TRAINING (Behavioral Tech.)
    p
      .title-note Подходы:
      ul.list
        li.list__item Когнитивно — поведенческая терапия
        li.list__item Диалектическая — поведенческая терапия
    p
      .title-note Приоритетные направления терапии:
      ul.list
        li.list__item Психотерапия суицидального поведения
        li.list__item Психотерапия панического расстройства
        li.list__item Психотерапия депрессивных состояний
        li.list__item Психотерапия стрессовых состояний
        li.list__item Работа с агрессивностью и конфликтным поведением
        li.list__item Психологическое консультирование


