/* BEGIN PADDING AND MARGIN SETTINGS */
$offset_global: 16px
/* END PADDING AND MARGIN SETTINGS */

/* BEGIN COLORS */

$color_primary: #84a4ac
$color_primary_light: #99c6d1
$color_primary_dark: #607d8b
$color_title_1: #878787
$color_title_2: #4d4d4d
$color_text_1: #878787
$color_text_2: #333
$color_btn: #fff

$color_card: #fafafa
$color_card_hover: #fff

$size_text: 16px
$lh_text: 1.3

$transition: 0.3s
/* END COLORS */
