.btn-menu a, .btn
  display: block
  width: max-content
  font-size: 14px
  line-height: 17px
  background: $color_primary
  color: $color_btn
  padding: 13px 24px
  cursor: pointer
  transition: $transition
  &:hover
    background: $color_primary_light