.item
  display: flex
  border-radius: 2px
  &__info
    padding: 30px 30px 30px 50px
  &__title
    color: $color_primary_light
    font-size: 18px
    font-weight: 500
    margin-bottom: 15px
  &__img
    max-width: 300px
    height: auto
    object-fit: cover
