
.container
  h2.title.title-h2.text-center Добровольные пожертвования на развитие и существование бесплатного проекта «Семейные связи»
  .description.text-center.donate__text Обычно, пожертвования принято исчислять не в деньгах, а в чашках кофе, но мы будем приобретать книги для специалистов, работающих в нашем Центре:)
  .donate__row
    a(href="").donate__item.btn-donate 250р (1 книга)
    a(href="").donate__item.btn-donate 500р (2 книги)
    a(href="").donate__item.btn-donate 1000р (4 книги)
    a(href="").donate__item.btn-donate 2000р (8 книг)
    a(href="").donate__item.btn-donate 5000р (целая библиотека)