.info
  .info-container.container
    .info__left
      a(href="tel:+74956645864" target="_blank").info__link +7 (995) 965-30-03
      span.info__separator |
      a(href="mailto:cnpp.dialectica@gmail.com" target="_blank").info__link cnpp.dialectica@gmail.com
    .info__socials.socials
      a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
        img(src="./assets/img/youtube.svg", alt="YouTube").socials__icon
      a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
        img(src="./assets/img/vk.svg", alt="YouTube").socials__icon
      a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
        img(src="./assets/img/whatsapp.svg", alt="YouTube").socials__icon
      a(href="https://www.youtube.com/channel/UC9O-RlVMSnHv5o2kL5QciIw" target="_blank").socials__link
        img(src="./assets/img/telegram.svg", alt="YouTube").socials__icon

header.header
  .header-container.container
    .header__left
      a(href="").header-logo
        img(src="./assets/img/logo.svg" alt="Центр научно-практической психологии Dialectica" data-retina_logo_url="./assets/img/logo.svg").header-logo__link
    .header__center
      nav.header-menu
        ul.menu
          li.menu-item.menu__item
            a(href="") О центре
          li.menu-item.menu__item
            a(href="") Специалисты
          li.menu-item.menu__item
            a(href="") Расстройства
          li.menu-item.menu__item.menu-item-has-children
            a(href="") Клиенту
            ul.sub-menu
              li.menu-item
                a(href="") Правила получения услуг
              li.menu-item
                a(href="") Навыки DBT
              li.menu-item
                a(href="") Семейные связи
              li.menu-item
                a(href="") Комплексный курс DBT
              li.menu-item
                a(href="") Курс Skills for life
          li.menu-item.menu__item
            a(href="") Услуги
    .header__right
        a(href="").btn.header__btn Запись на прием
        a(href="").menu-icon
    .header__menu.e_menu
      div






