a(href="").item
  img(src="https://i0.wp.com/cnpp.ru/wp-content/uploads/2020/11/-с-серым-фоном-e1604426111610.jpg?resize=1037%2C1037&ssl=1", alt="").item__img
  .item__info
    .item__title Таисия Дергачева
    .item__subtitle Клинический психолог
    .item__text
      p
        ul
          li Терапия принятия и ответственности (АСТ)
          li Когнитивно-поведенческая терапия (CBT)
          li Терапия, сфокусированная на сострадании (CFT)
      p
        span.info-title Специализация:
        .info-text Депрессия, тревожные расстройства (социальная тревога, ПТСР, ГТР, панические атаки), РПП, БАР, СДВГ.
