a(href="").item
  img(src="./assets/img/item-1.png", alt="").item__img
  .item__info
    .item__title СЕРГЕЙ СТАРОВЕРОВ
    .item__subtitle Клинический психолог
    .item__text
      div
        ul.list
          li.list__item Терапия принятия и ответственности (АСТ)
          li.list__item Когнитивно-поведенческая терапия (CBT)
          li.list__item Терапия, сфокусированная на сострадании (CFT)
      div
        .title-note Специализация:
        div Депрессия, тревожные расстройства (социальная тревога, ПТСР, ГТР, панические атаки), РПП, БАР, СДВГ.
      .btn.item__btn подробнее
