.overlay.hidden.menu-mob#menu
	.overflow
		.menu__box.overflow__box
			.overflow__box_close.e_menu_close
		.overflow__close.e_menu_close

.overlay.hidden.pet#pet
	.overflow
		.pet__box.overflow__box
			.overflow__box_close.e_pet_close
			.pet-row
		.overflow__close.e_pet_close
